@model string

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE htnl>


<html>

<head>

<meta name="viewport" content="width=divice-widh" />
    <title>results</title>
    </head>
    <body>
        <div>
            @Model
        </div>
    </body>
    </html>
